* {
  margin: 0;
  padding: 0;
}

.pageTitle {
  position: absolute;
  opacity: 0;
  top: 40%;
  left: 28%;
  z-index: 1;
  font-size: 10rem;
  color: white;
  text-shadow: 2px 2px 16px #ffffff;
  font-family: "Courier New", Courier, monospace;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation: heading 15s;
          animation: heading 15s;
}

.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 85vh;
}

.slider figure div {
  float: left;
  width: 20%;
}

.imageDesktop {
  display: block;
}

.slider figure img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  float: left;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation: imageblur 8s;
          animation: imageblur 8s;
}

.imageMobile {
  display: none;
}

.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  -webkit-animation: animate 40s infinite;
          animation: animate 40s infinite;
}

@-webkit-keyframes animate {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  16% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  28% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  40% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  54% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  64% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  76% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  88% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes animate {
  0% {
    left: 0%;
  }
  10% {
    left: 0%;
  }
  16% {
    left: -100%;
  }
  22% {
    left: -100%;
  }
  28% {
    left: -200%;
  }
  34% {
    left: -200%;
  }
  40% {
    left: -300%;
  }
  46% {
    left: -300%;
  }
  54% {
    left: -400%;
  }
  58% {
    left: -400%;
  }
  64% {
    left: -300%;
  }
  70% {
    left: -300%;
  }
  76% {
    left: -200%;
  }
  82% {
    left: -200%;
  }
  88% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@-webkit-keyframes heading {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes heading {
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes imageblur {
  20% {
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  40% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  60% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  80% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: none;
            filter: none;
  }
}

@keyframes imageblur {
  20% {
    -webkit-filter: blur(8px);
            filter: blur(8px);
  }
  40% {
    -webkit-filter: blur(6px);
            filter: blur(6px);
  }
  60% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  80% {
    -webkit-filter: blur(2px);
            filter: blur(2px);
  }
  100% {
    -webkit-filter: none;
            filter: none;
  }
}

@media screen and (max-width: 768px) {
  .pageTitle {
    top: 50%;
    left: 10%;
    font-size: 4rem;
  }
  .imageDesktop {
    display: none;
  }
  .imageMobile {
    display: block;
  }
}
/*# sourceMappingURL=Home.css.map */