.backgroundImage {
    height: 90vh;
    padding-top: 100px;
    background-image: url("../../assets/contactBlurr.png");
    background-size: cover;
    .container {
        display: flex;
        max-width: 1000px;
        margin: auto;
        justify-content: space-around;
        align-items: center;
        background-color: rgba($color: #e7e7e7, $alpha: 0.65);
        padding: 75px 0 75px;
        border-radius: 4px;
        box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.2);
        .sentMessage {
            width: 400px;
            p {
                margin: 10px 0;
                padding: 0;
            }
        }
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            div {
                display: flex;
                width: 85vw;
                max-width: 390px;
                label {
                    font-size: 0.9rem;
                }
            }
            .requiredWarning {
                margin: 0;
                padding: 0;
                color: red;
                font-size: 0.8rem;
                margin: 0 0 0 10px;
            }
            .requiredWarningForm {
                margin: 10px 0 0 0;
                padding: 0;
                color: red;
                font-size: 0.8rem;
                text-align: center;
            }
            textarea {
                margin: 4px 0 20px 0;
                resize: none;
                height: 100px;
                border: 1px solid #d1d1d1;
                background-color: white;
                border-radius: 3px;
                max-width: 390px;
                width: 85vw;
                font-family: inherit;
                padding: 5px;
                font-size: 0.9rem;
                transition: ease-in-out 250ms;
                &:focus {
                    outline: none;
                    background-color: rgb(244, 244, 244);
                }
                &:hover {
                    background-color: rgb(244, 244, 244);
                }
                &::placeholder {
                    color: rgb(190, 190, 190);
                }
            }
        }
        .restaurantInfo {
            border-left: 2px solid #f05545;
            padding: 0 0 0 16px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            .bold {
                font-weight: 500;
            }
            p {
                margin: 5px 0;
            }
        }
        .buttonMargin {
            margin: 20px 0 0 0;
        }
    }
}

.bold {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .backgroundImage {
        padding: 0;
        .container {
            flex-direction: column;
            align-items: center;
            height: 100vh;
            padding: 0;
            border-radius: 0;
            form {
                justify-content: center;
                align-items: center;
                textarea {
                    width: 85vw;
                }
            }
            .restaurantInfo {
                display: none;
            }
        }
    }
}