.container {
    display: flex;
    width: 1000px;
    margin: 70px auto 0;
    justify-content: space-around;
    .sentMessage {
        width: 400px;
        p {
            margin: 10px 0;
            padding: 0;
        }
        .bold {
            font-weight: 500;
        }
        .boldUnderline {
            font-weight: 500;
            border-bottom: 2px solid #f05545;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin: 0;
            padding: 0;
            color: red;
            font-size: 0.8rem;
        }
        textarea {
            margin: 4px 0 20px 0;
            resize: none;
            height: 100px;
            border: 2px solid #4f5b62;
            background-color: white;
            border-radius: 5px;
            width: 390px;
            font-family: inherit;
            padding: 5px;
            font-size: 0.9rem;
            transition: ease-in-out 250ms;
            &:focus {
                outline: none;
                background-color: rgb(244, 244, 244);
            }
            &:hover {
                background-color: rgb(244, 244, 244);
            }
        }
    }
    .restaurantInfo {
        border-left: 2px solid #f05545;
        padding: 0 0 0 16px;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        .bold {
            font-weight: 500;
        }
        p {
            margin: 5px 0;
        }
    }
    .buttonMargin {
        margin: 20px 0 0 0;
    }
}
